body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#SupportHero{
  background-color: rgb(56,126,209);
  padding-top: 100px;
  color:white;
}

#SupportHero a{
  color:white;
}
#SupportWrapper{
  display:flex;
  justify-content:space-between;
  margin:0px 150px;
  padding-top: 100px;
}

#SupportHero input{
  padding:20px 50px;
  width:100%;
  font-size: 20px;
  border-radius: 10px;
  border:none;
}




#signup-container button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  background: #387ed1; /* Zerodha Blue */
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

#signup-container button:hover {
  background: #0056c2;
}
